:root {
  --atlas-line-height: 2em;
  --atlas-font-size: 0.95em;
  --atlas-font-family: Segoe UI,Roboto,sans-serif;
  --atlas-title-font-family: Segoe UI,Roboto,sans-serif;
  --atlas-header-text-color: #455461;
  --atlas-sidebar-text-color: #627789;
  --atlas-sidebar-text-color-hover: #a9bdca;
}
