{:blocks (
{:block/content "/up\nid:: 6426150e-8152-4b36-87d0-3e6ce00414ae"
:block/format :markdown
:block/left 
{:block/uuid #uuid "642614d3-2b8b-4138-97f0-e888e305d583"}
:block/parent 
{:block/uuid #uuid "642614d3-2b8b-4138-97f0-e888e305d583"}
:block/properties 
{:id "6426150e-8152-4b36-87d0-3e6ce00414ae"}
:block/uuid #uuid "6426150e-8152-4b36-87d0-3e6ce00414ae"} 
{:block/content "import from microsoft whitepoard\n/up"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6426150e-8152-4b36-87d0-3e6ce00414ae"}
:block/parent 
{:block/uuid #uuid "642614d3-2b8b-4138-97f0-e888e305d583"}
:block/properties 
{}
:block/uuid #uuid "6426157a-6ffa-4af6-a705-1f577eb7c5f2"})
:pages (
{:block/uuid #uuid "642614d3-2b8b-4138-97f0-e888e305d583"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "642614d3-2b8b-4138-97f0-e888e305d583"
:name "fluid mechanics"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ()}}
:block/updated-at 1680217531480
:block/created-at 1680217299767
:block/type "whiteboard"
:block/name "fluid mechanics"
:block/original-name "fluid mechanics"})}