{:blocks (
{:block/content "import\n![Fysikk 2 labrapport 3.png](../assets/Fysikk_2_labrapport_3_1680218884481_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64261af2-4a5a-4828-9873-1b907aad016c"}
:block/parent 
{:block/uuid #uuid "64261af2-4a5a-4828-9873-1b907aad016c"}
:block/properties 
{}
:block/uuid #uuid "64261afd-43df-49cc-bd50-c9d0089a1632"} 
{:block/created-at 1680218886119
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "64261afd-43df-49cc-bd50-c9d0089a1632"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 1558.104248046875]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7ff60190-cf52-11ed-b7c8-71e33fd90152"
:noFill false
:point [292.8333740234375 228.83334350585938]
:parentId "64261af2-4a5a-4828-9873-1b907aad016c"
:collapsedHeight 0
:nonce 1680218875952}}
:block/updated-at 1680218886119})
:pages (
{:block/uuid #uuid "64261af2-4a5a-4828-9873-1b907aad016c"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64261af2-4a5a-4828-9873-1b907aad016c"
:name "fysikk 2 labrapport 3"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("7ff60190-cf52-11ed-b7c8-71e33fd90152")}}
:block/updated-at 1680218886119
:block/created-at 1680218866676
:block/type "whiteboard"
:block/name "fysikk 2 labrapport 3"
:block/original-name "fysikk 2 labrapport 3"})}