{:blocks (
{:block/content "impoty\n![Math.png](../../../../../../assets/Math_1680218982044_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64261b59-354d-40cc-aed5-a35f882b0099"}
:block/parent 
{:block/uuid #uuid "64261b59-354d-40cc-aed5-a35f882b0099"}
:block/properties 
{}
:block/uuid #uuid "64261b63-3ce9-4a6f-a6d1-b2db13942cf3"} 
{:block/created-at 1680218983102
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "64261b63-3ce9-4a6f-a6d1-b2db13942cf3"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 1200.3125]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bc345e90-cf52-11ed-b7c8-71e33fd90152"
:noFill false
:point [580.1666870117188 394.16668701171875]
:parentId "64261b59-354d-40cc-aed5-a35f882b0099"
:collapsedHeight 0
:nonce 1680218977024}}
:block/updated-at 1680218983102})
:pages (
{:block/uuid #uuid "64261b59-354d-40cc-aed5-a35f882b0099"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64261b59-354d-40cc-aed5-a35f882b0099"
:name "math"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("bc345e90-cf52-11ed-b7c8-71e33fd90152")}}
:block/updated-at 1680218983102
:block/created-at 1680218969840
:block/type "whiteboard"
:block/name "math"
:block/original-name "math"})}