{:blocks (
{:block/content "import from microsoft\n![null.png](../assets/null_1680218282656_0.png)"
:block/format :markdown
:block/left 
{:block/uuid #uuid "64261669-ff75-4b68-b511-5ef13806ae0e"}
:block/parent 
{:block/uuid #uuid "64261669-ff75-4b68-b511-5ef13806ae0e"}
:block/properties 
{}
:block/uuid #uuid "64261684-9dac-4cd0-a382-bb4efd7764be"} 
{:block/created-at 1680218285486
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "64261684-9dac-4cd0-a382-bb4efd7764be"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 288.40625]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d27a7480-cf4f-11ed-b7c8-71e33fd90152"
:noFill false
:point [363.5 313.5]
:parentId "64261669-ff75-4b68-b511-5ef13806ae0e"
:collapsedHeight 0
:nonce 1680217725917}}
:block/updated-at 1680218285486} 
{:block/created-at 1680218285487
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke ""
:index 1
:scale [1 1]
:fill ""
:type "pencil"
:points [[0 0 0.5]]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ece378d0-cf4f-11ed-b7c8-71e33fd90152"
:noFill true
:point [623.6875610351562 359.5]
:parentId "64261669-ff75-4b68-b511-5ef13806ae0e"
:nonce 1680217770206
:isComplete true}}
:block/updated-at 1680218285487})
:pages (
{:block/uuid #uuid "64261669-ff75-4b68-b511-5ef13806ae0e"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "64261669-ff75-4b68-b511-5ef13806ae0e"
:name "solidworks snowscooter sketch"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("d27a7480-cf4f-11ed-b7c8-71e33fd90152" "ece378d0-cf4f-11ed-b7c8-71e33fd90152")}}
:block/updated-at 1680218285486
:block/created-at 1680217705606
:block/type "whiteboard"
:block/name "solidworks snowscooter sketch"
:block/original-name "solidworks snowscooter sketch"})}