{:blocks (
{:block/content "nmport"
:block/format :markdown
:block/left 
{:block/uuid #uuid "6426193b-cbc6-4ad6-92c6-13af9e84c013"}
:block/parent 
{:block/uuid #uuid "6426193b-cbc6-4ad6-92c6-13af9e84c013"}
:block/uuid #uuid "6426196e-d4c0-4778-b904-d838fdb11a67"} 
{:block/created-at 1680218480400
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6426196e-d4c0-4778-b904-d838fdb11a67"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "90614db0-cf51-11ed-b7c8-71e33fd90152"
:noFill false
:point [-1.566625976562932 -1.1666564941404545]
:parentId "6426193b-cbc6-4ad6-92c6-13af9e84c013"
:collapsedHeight 0
:nonce 1680218473999}}
:block/updated-at 1680218480400})
:pages (
{:block/uuid #uuid "6426193b-cbc6-4ad6-92c6-13af9e84c013"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "6426193b-cbc6-4ad6-92c6-13af9e84c013"
:name "systems design brainstorm- gardemoen drone deterent system"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("90614db0-cf51-11ed-b7c8-71e33fd90152")}}
:block/updated-at 1680218480399
:block/created-at 1680218427790
:block/type "whiteboard"
:block/name "systems design brainstorm- gardemoen drone deterent system"
:block/original-name "systems design brainstorm- gardemoen drone deterent system"})}